@import "../../../static/scss/module";

.text-column{
    color: $black;
    margin-right: 26px;
    &__heading{
        color: $supremeBlack;
        font-style: normal;
        font-weight: bold;
        line-height: 20px;
        font-size: 13px;
        letter-spacing: 1.18px;
        text-transform: uppercase;
        font-family: $proximaBold;
        margin: 0;
        padding: 24px 0 0 0;
        @include tablets{
            padding: 8px 0 0 0;
        }
    }

    &__text{
        margin-top: 10px;
        width: 290px;
        font-style: normal;
        font-weight: normal;
        line-height: 32px;
        font-size: 16px;
        @include tablets{
            margin-top: 15px;
            padding-top: 18px;
        }
    }
}