@font-face {
  font-family: "ProximaNova";
  src: url('/react/static/fonts/ProximaNova/ProximaNova-Regular.ttf');
}

@font-face {
  font-family: "ProximaNovaSemiBold";
  src: url('/react/static/fonts/ProximaNova/ProximaNova-Semibold.ttf');
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url('/react/static/fonts/ProximaNova/ProximaNova-Bold.ttf');
}
@font-face {
  font-family: "ProximaNovaExtraBold";
  src: url('/react/static/fonts/ProximaNova/ProximaNova-ExtraBold.ttf');
}

@font-face {
  font-family: "AternativeGothicNo3";
  src: url('/react/static/fonts/AlternativeGothic/AlternateGothicNo3D.ttf');
}
