//colors
$accent: #FCAF17;
$accentHover: #ee9f03;
$warn: #F73149;
$dark: #272C37;
$font: #808080;
$white: #FFFFFF;
$gray: #e2e2e2;
$lightGrayType1:#E6E7EA;
$lightGrayShadow: #E4E4E4;
$lightGray: #DBDBDB;
$shadow: rgba(0,0,0,0.2);
$black: #272C37;
$darkGray: #353B49;
$darkGrayLight: #444b59;
$supremeBlack: #000000;
$whiteDark: #F8F8F8;
$lightGrayType2: #B3B3B3;
$selectBlack: #B6B6B6;
$buttonGray: #f7f7f7;
$grayButtonFont: #B3B3B3;


//fonts
$proxima: "ProximaNova";
$got: "AternativeGothicNo3";
$proximaBold: "ProximaNovaBold";
$proximaExtraBold: "ProximaNovaExtraBold";

//box-shadows
$buttonShadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
$offerButtonShadow: 0 10px 23px 0 rgba(0,0,0,0.2);